.fom_div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-left: 4px solid #00bbfd;
  padding-left: 20px;
  margin: 40px 0px;
}
.fom_div a {
  color: #3460dc;

  font-size: 18px;

  font-weight: 450;
}
.fom_div h4 {
  margin: 0px;
  padding: 0px 5px;
  font-size: 14px;
}
.adiv {
  margin-top: 10px;
}
