@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/poppins-regular.woff") format("woff"),
         url("/assets/fonts/Poppins-Regular.woff2") format("woff2"); 
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/Poppins-semiBold.woff") format("woff"),
         url("/assets/fonts/Poppins-SemiBold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/Poppins-Bold.woff") format("woff"),
         url("/assets/fonts/Poppins-Bold.woff2") format("woff2");
  }
}

@layer components {

  .btn {
    @apply font-semibold small text-white rounded-[24px] px-[20px] py-[8px];
  }

  .btn-primary {
    @apply bg-secondary-500 hover:bg-secondary-600 focus:bg-secondary-600;
  }

  .btn-warning {
    @apply bg-warning-700 hover:bg-warning-800 focus:bg-warning-800;
  }

  .btn-success {
    @apply bg-success-500 hover:bg-success-600 focus:bg-success-800;
  }

  .btn-neutral-outline {
    @apply bg-transparent border-neutral-900 text-neutral-900 border rounded-[20px] px-[12px] py-[7px] hover:bg-neutral-900 hover:text-white font-semibold;
  }

  .btn-secondary-outline {
    @apply bg-transparent border-secondary-500 text-secondary-500 border rounded-[24px] px-[16px] py-[7px] hover:bg-secondary-500 hover:text-white font-semibold;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

/* typograpy */
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}

.h1-xl {
  @apply text-heading-xl;
}

.h1-lg {
  @apply text-heading-lg;
}

h1,
.h1 {
  @apply text-heading2 lg:text-heading1;
}

h2,
.h2 {
  @apply text-heading3 lg:text-heading2;
}

h3,
.h3 {
  @apply text-heading4 lg:text-heading3;
}

h4,
.h4 {
  @apply text-heading5 lg:text-heading4;
}

h5,
.h5 {
  @apply text-heading6 lg:text-heading5;
}

h6,
.h6 {
  @apply text-para-lg lg:text-heading6;
}

.para-lg {
  @apply text-para-lg;
}

p,
.para {
  @apply text-para;
}

.small {
  @apply text-small;
}

.x-small {
  @apply text-x-small;
}
/* typograpy */

@layer utilities {}