@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
/* Font farro starts*/
@font-face {
  font-family: "Farro";
  src:
    url("/assets/fonts/Farro-Medium.woff2") format("woff2"),
    url("/assets/fonts/Farro-Medium.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Farro";
  src:
    url("/assets/fonts/Farro-Bold.woff2") format("woff2"),
    url("/assets/fonts/Farro-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
/* Font farro ends*/
/* inter starts */
@font-face {
  font-family: "Inter";
  src:
    url("/assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("/assets/fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src:
    url("/assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("/assets/fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src:
    url("/assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/Inter-SemiBold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src:
    url("/assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("/assets/fonts/Inter-Bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
} 
/* inter ends*/ 
}


@layer components {
}
html{font-size: 62.5%}
body {@apply font-inter font-normal text-para text-grey300;}
