.whatuni_logo {
  height: 85px;
  width: 80px;
  margin-left: 70px;
}
.header_comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* border: 1px solid black; */
  padding: 0px;
  margin: 0px;
  background-color: white;
}
.input_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border: 1px solid hsla(0, 0%, 44%, 0.439);
  padding: 5px 10px;

  border-radius: 50px;
}
.input_div:hover {
  border: 1px solid #173ead;
}

.input_div p {
  border: none;
  padding: none;
  margin: 0px;
  color: #707070de;
  padding: 2px 15px;
}

.like_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 50px;
}
.like_btn button {
  color: #173ead;
  background-color: white;
  padding: 8px 20px;
  border: 1px solid #173ead;
  border-radius: 30px;
  margin-right: 10px;
  font-weight: 800;
}
.like_btn button:hover {
  background-color: #3460dc;
  color: white;
}
