.horizontal_line {
  width: 100%;
  height: 8px;
  background-image: repeating-linear-gradient(
    90deg,
    #000000a1,
    #0000009b 1px,
    transparent 2px,
    transparent 3px
  );
  margin: 0px;
}

.footerfull {
  display: flex;
  flex-direction: column;
  background-color: #baedff;
}
.footerfull p {
  height: 12px;
  padding: 0px;
  margin: 0px;
  margin-top: -3px;
  width: 100%;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #baedff;
}

.footer_column {
  flex: 1;
  margin-right: 20px;
}

.footer_column:last-child {
  margin-right: 0;
}

.footer_column1 h4 {
  margin-bottom: 10px;
}

.footerul {
  list-style: none;
  padding: 0;
}

.footerli {
  margin-bottom: 10px;
}

.footera {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.footera:hover {
  color: #000;
  text-decoration: underline;
}
.footer_column1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: 30%;
}
.footer_column1 h4 {
  padding-left: 10px;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 150px;
  padding: 20px;
  margin-left: -20px;
}
.image {
  padding: 8px 0px;
}
