.searchsubject {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
.searchsubject h1 {
  font-size: 52px;
  font-size: 800;
  padding: 0px;
  margin: 0px;
}
.searchsubject p {
  font-size: 14px;
  margin: 0px;
}
.input_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: 1px solid grey;
  padding: 10px 10px 10px 24px;
  font-size: 16px;
  border-radius: 30px;
  margin: 10px;
}
.input_div button {
  padding: 10px 20px;
  background-color: #173ead;
  color: white;
  border-radius: 20px;
  border: none;
  font-weight: 500;
  margin-left: 10px;
}
.input_div input {
  width: 400px;
  height: 20px;
  border: none;
}
.input_div input:focus {
  border: none;
  outline: none;
}
